@font-face{
  font-family: 'hoon';
  font-style: normal;
  font-weight: normal;
  src: url('/font/HoonWhitecatR.eot'); 
  src: local('¡Ø'), url('/font/HoonWhitecatR.woff') format('woff');
}

body { margin: 0; padding: 0; font-family: 'hoon'; font-size: 18px; }
div, header, footer, section, nav { position: relative;}
img { vertical-align: top; max-width: 100%; }
ul, table, tr, td { margin: 0; padding: 0; }
li { list-style: none; }

.main_container { width: 100vw; height: 100vh; top: 0; left: 0; position: absolute; overflow: hidden; }
.main_container .header { width: 100%; height: 15%; left: 0; top: 0; text-align: center; animation: main_menu_ani 1s 1.5s; opacity: 0; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }
.main_container .header .logo { width: 200px; height: 50px; background-image: url('/img/logo.png'); background-size: contain; background-position: center center; background-repeat: no-repeat; margin-top: 50px; display: inline-block; cursor: pointer; }
.main_container .inner { width: 100%; height: 85%; overflow: hidden; }
.main_container .inner .side_menu { width: 15%; height: 100%; display: inline-block; align-items: center; float: left; }
.main_container .inner .side_menu .menu_wrap { top: 20%; text-align: center; line-height: 50px; justify-content: space-between; display: flex; flex-flow: column; margin-left: 50px; animation: main_menu_ani 1s 3s; opacity: 0; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }
.main_container .inner .side_menu .menu_wrap .menu { letter-spacing: 5px; margin: 10px auto; }
.main_container .inner .side_menu .menu_wrap .menu span { cursor: pointer; }
.main_container .inner .side_menu .menu_wrap .menu span:hover { color: red; }
.main_container .center_container { width: 85%; height: 100%; text-align: center; display: inline-block; }
.main_container .center_container .day_wrap { width: 80%; height: 25px; display: inline-block; text-align: right; animation: main_menu_ani 1s 1.5s; opacity: 0; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }
.main_container .center_container .main_image { width: 80%; height: 80%; overflow: hidden; background-color: #e7e7e7; left: 50%; transform: translatex(-50%); z-index: 2; display: none; position: absolute; }
.main_container .center_container .main_image .img { width: 100%; height: 100%; position: absolute; background-image: url('/img/picture.png'); background-size: cover; background-position: center center; z-index: 2; transform: translatex(-100%); animation: main_pic_ani 1.5s 0.5s; opacity: 0; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }

.menu_container { width: 100vw; height: 100vh; top: 0; left: 0; position: absolute; overflow: hidden; }
.menu_container .header { width: 100%; height: 15%; left: 0; top: 0; text-align: center; }
.menu_container .header .logo { width: 200px; height: 50px; background-image: url('/img/logo.png'); background-size: contain; background-position: center center; background-repeat: no-repeat; margin-top: 50px; display: inline-block; cursor: pointer; }
.menu_container .inner { width: 100%; height: 85%; overflow: hidden; }
.menu_container .inner .side_menu { width: 15%; height: 100%; display: inline-block; align-items: center; float: left; }
.menu_container .inner .side_menu .menu_wrap { top: 20%; text-align: center; line-height: 50px; justify-content: space-between; display: flex; flex-flow: column; margin-left: 50px; }
.menu_container .inner .side_menu .menu_wrap .menu { letter-spacing: 5px; margin: 10px auto; }
.menu_container .inner .side_menu .menu_wrap .menu span { cursor: pointer; }
.menu_container .inner .side_menu .menu_wrap .menu span:hover { color: red; }
.menu_container .center_container { width: 85%; height: 100%; text-align: center; display: inline-block; }

.picture_container .center_container .main_image { padding-top: 25px; width: 80%; height: 80%; overflow: hidden; left: 50%; transform: translatex(-50%); z-index: 2; position: absolute; }
.picture_container .center_container .main_image .img { width: 100%; height: 100%; position: absolute; background-image: url('/img/picture.png'); background-size: cover; background-position: center center; z-index: 2; transform: translatex(-100%); animation: picture_pic_view 1.5s; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }
.picture_container .center_container .arrow_wrap { width: 90%; display: inline-block; top: 50%; transform: translatey(-50%); }
.picture_container .center_container .arrow_wrap .arrow { width: 20px; height: 20px; display: inline-block; }
.picture_container .center_container .arrow_wrap .img_wrap { width: 100%; position: absolute; }
.picture_container .center_container .arrow_wrap .arrow_left { background-image: url('/img/arrow_left.png'); background-size: contain; background-repeat: no-repeat; background-position: center center; vertical-align: middle; cursor: pointer; float: left; }
.picture_container .center_container .arrow_wrap .arrow_right { background-image: url('/img/arrow_right.png'); background-size: contain; background-repeat: no-repeat; background-position: center center; vertical-align: middle; cursor: pointer; float: right; }
.picture_container .center_container .arrow_wrap .txt_wrap { width: 96%; margin: 0 auto; }
.picture_container .center_container .arrow_wrap .txt { line-height: 20px; vertical-align: middle; opacity: 0; }
.picture_container .center_container .arrow_wrap .prev { float: left; }
.picture_container .center_container .arrow_wrap .next { float: right; }

.diary_container .center_container .inner { width: 80%; height: 80%; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0); font-size: 0; }
.diary_container .center_container .inner .tab_wrap { width: 20%; height: 100%; display: inline-block; max-height: 100%; overflow: hidden; }
.diary_container .center_container .inner .tab_wrap .view { width: 100%; height: 100%; overflow: hidden; }
.diary_container .center_container .inner .tab_wrap .scroll { width: 115%; height: 100%; overflow-y: auto; }
.diary_container .center_container .inner .tab_wrap .txt_wrap { width: 100%; height: 100%; }
.diary_container .center_container .inner .tab_wrap .tab { width: 100%; height: 10%; font-size: 18px; text-align: center; }
.diary_container .center_container .inner .tab_wrap .tab:hover { background-color: pink; }
.diary_container .center_container .inner .tab_wrap .tab .txt { top: 50%; transform: translatey(-50%); letter-spacing: 5px; }
.diary_container .center_container .inner .tab_wrap .tab .txt span { cursor: pointer; }
.diary_container .center_container .inner .tab_wrap .tab .txt span:hover { color:  blue; }
.diary_container .center_container .inner .content_wrap { width: 80%; height: 100%; text-align: center; display: inline-block; max-height: 100%; float: right; }
.diary_container .center_container .inner .content_wrap .title_wrap { width: 30%; height: 100%; display: inline-block; max-height: 100%; overflow: hidden; }
.diary_container .center_container .inner .content_wrap .title_wrap .view { width: 100%; height: 100%; overflow: hidden; }
.diary_container .center_container .inner .content_wrap .title_wrap .scroll { width: 115%; height: 100%; overflow-y: auto; }
.diary_container .center_container .inner .content_wrap .title_wrap .titles { width: 100%; height: 100%; }
.diary_container .center_container .inner .content_wrap .title_wrap .title { width: 100%; height: 10%; font-size: 16px; text-align: center; }
.diary_container .center_container .inner .content_wrap .title_wrap .title:hover { background-color: pink; }
.diary_container .center_container .inner .content_wrap .title_wrap .title .txt { top: 50%; transform: translatey(-50%); letter-spacing: 5px; }
.diary_container .center_container .inner .content_wrap .title_wrap .title .txt span { cursor: pointer; }
.diary_container .center_container .inner .content_wrap .title_wrap .title .txt span:hover { color: blue; }
.diary_container .center_container .inner .content_wrap .contents { width: 70%; height: 100%; display: inline-block; float: right; }
.diary_container .center_container .inner .content_wrap .contents .contents_wrap { width: 70%; display: inline-block; top: 50%; transform: translatey(-50%); }
.diary_container .center_container .inner .content_wrap .contents .contents_wrap .day { width: 100%; line-height: 30px; font-size: 16px; text-align: right; }
.diary_container .center_container .inner .content_wrap .contents .contents_wrap .view { width: 99%; height: 70%; overflow: hidden; border: 1px solid pink; border-radius: 10px; }
.diary_container .center_container .inner .content_wrap .contents .contents_wrap .scroll { width: 106%; height: 100%; overflow-y: auto; }
.diary_container .center_container .inner .content_wrap .contents .contents_wrap .txt { width: 100%; height: 100%; font-size: 16px; }
.diary_container .center_container .inner .content_wrap .contents .contents_wrap .btn_wrap { width: 100%; text-align: center; }
.diary_container .center_container .inner .content_wrap .contents .contents_wrap .btn_wrap .btn { width: 50px; line-height: 30px; border: 1px solid black; border-radius: 5px; font-size: 16px; display: inline-block; margin: 20px 10px; text-align: center; cursor: pointer; }

@keyframes main_pic_ani { 
	100% { opacity: 1; transform: translatex(0%); }
}

@keyframes main_menu_ani {
	100% { opacity: 1; }
}

@keyframes menu_hover_ani {
	100% { color: red; }
}

/* @keyframes picture_pic_up { */
/* 	100% { transform: translatex(100%); } */
/* } */

@keyframes picture_pic_view {
	100% { transform: translatex(0%); }
}

/* @keyframes picture_pic_down { */
/* 	100% { transform: translatex(-100%); } */
/* } */

@media all and (max-width: 1200px) { 
	.main_container .inner .side_menu { width: 100%; height: 0; float: none; }
	.main_container .inner .side_menu .menu_wrap { top: 0; margin-left: 0; line-height: 0; flex-flow: initial; }
	.main_container .center_container { width: 100%; margin-top: 50px; }
	
	.picture_container .inner .side_menu { width: 100%; height: 0; float: none; }
	.picture_container .inner .side_menu .menu_wrap { top: 0; margin-left: 0; line-height: 0; flex-flow: initial; }
	.picture_container .center_container { width: 100%; margin-top: 50px; }
	
	.diary_container .inner .side_menu { width: 100%; height: 0; float: none; }
	.diary_container .inner .side_menu .menu_wrap { top: 0; margin-left: 0; line-height: 0; flex-flow: initial; }
	.diary_container .center_container { width: 100%; margin-top: 50px; }
	.diary_container .center_container .inner { top: 0; transform: translatex(-50%); }
}

@media all and (max-width: 1050px) { 
	
}

@media all and (max-width: 800px) { 
	
}

@media all and (max-width: 550px) { 
	.main_container .header .logo { width: 150px; height: 35px; }
	.main_container .inner .side_menu .menu_wrap .menu { letter-spacing: 0; }
	.main_container .inner .side_menu .menu_wrap .menu span { font-size: 12px; }

	.picture_container .header .logo { width: 150px; height: 35px; }
	.picture_container .inner .side_menu .menu_wrap .menu { letter-spacing: 0; }
	.picture_container .inner .side_menu .menu_wrap .menu span { font-size: 12px; }
	.picture_container .center_container .arrow_wrap { width: 80%; top: 0; transform: initial; }
	
	.diary_container .header .logo { width: 150px; height: 35px; }
	.diary_container .inner .side_menu .menu_wrap .menu { letter-spacing: 0; }
	.diary_container .inner .side_menu .menu_wrap .menu span { font-size: 12px; }
	.diary_container .inner .center_container .inner { height: 100%; }
	.diary_container .inner .center_container .inner .tab_wrap { width: 100%; height: 10%; }
	.diary_container .inner .center_container .inner .tab_wrap .tab { height: auto; }
	.diary_container .inner .center_container .inner .tab_wrap .tab .txt { top: 0; transform: initial; }
	.diary_container .inner .center_container .inner .content_wrap { width: 100%; height: 80%; margin-top: 10px; }
	.diary_container .inner .center_container .inner .content_wrap .title_wrap { width: 100%; height: 10%; }
	.diary_container .inner .center_container .inner .content_wrap .title_wrap .title { height: auto; }
	.diary_container .inner .center_container .inner .content_wrap .title_wrap .txt { top: 0; transform: initial; }
	.diary_container .inner .center_container .inner .content_wrap .contents { width: 100%; height: 90%; }
	.diary_container .inner .center_container .inner .content_wrap .contents .contents_wrap { width: 100%; height: 100%; }
}